body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("896.jpg");
  background-size: 100%;
  text-align: center;
}

h1,
h2 {
  color: white;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  #question {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .enter {
    background-color: #72e7e1;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
  }
  .refresh {
    background-color: #72e7e1;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  #question {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .enter {
    background-color: #72e7e1;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }
  .refresh {
    background-color: #72e7e1;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  #question {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
  .enter {
    background-color: #72e7e1;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
  .refresh {
    background-color: #72e7e1;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.refresh {
  display: none;
}

.show {
  display: inline;
}
